* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    

}
header {
    display: flex;
    justify-content: center;
    background-color: rgb(154, 41, 199);
    height: 20vh;
    padding: 15px;
    color: white;
    border: none;
}

h1, ul, li{
    display: inline;
    
}

ul {

    padding-top: 40px;
    font-size: 1.5em;
    

}

li {
    
    margin-right: 8px;
}


h2, h3, h4{
    display: inline;
    border-style: solid;
}

h1 {
    padding-top: 40px;
    padding-right: 850px;
}
h2 {
    background-color: red;
    border: none;
    height: 100px;
    width: 100px;
    
}

main {
    border-style: solid;
    display: flex;
    justify-content: space-evenly;
    margin-right: 10px;
    border: none;
    margin-top: 50px;
}

h4 {
  padding: 70px;
  background-color: black;
  width: 100px;
  height: 100px;
  

}

h5 {
    padding: 80px;
    background-color: red;
    border-radius: 60%;
    border: none;
}

h6 {
    background-color: gold;
    width: 15vw;
    height: 20vh;
}

footer {

   border-style: solid;
   color: white;
   display: flex;
   justify-content: center;
   
   margin-top: 50px;
   
    

    
} n

.first {
    background-color: peru;
    display: inline;
    margin-right: 20px;
    padding: 15px;
}

.second {
    background-color: rgb(4, 36, 4);
    display: inline;
}