* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(4, 3, 44);
    color: white;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
}

a{
    color: white;
    font-weight: 1000;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    margin-right: 10px;
}

a:hover{
    color: gold;
    transition: 1s;
    border-radius: 2px;
    border-bottom: solid 1px gold;
   

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: rgb(4, 3, 44);
    color: white;
    margin-top: 100px;
    height: 50vh;
    width: 30vw;
    border-radius: 5px;
    display: grid;
    justify-content: space-around;
    align-items: center;
    
    
}
p, input{
    margin: 0 1em;
}

input{
    width: 350px;
    color: white;
    border: none;
    padding: 10px;
    border-bottom: 2px white;
    background-color: rgb(4, 3, 44);
    border-bottom: solid 1px white ;
    outline: none;
    

}





h2, h3{
    display: flex;
    justify-content: center;
    font-weight: 1500;
}
button{
    height: 50px;
    width: 90px;
    font-weight: 900;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover{
    color: white;
    background-color: rgb(4, 3, 44);
    border: none;
    border-radius: 4px;
    border-bottom: solid 2px white;

}
h3{
    margin-bottom: 20px;
    
}