header {
    background-color: #b653e4;
    color: white;
    height: 15vh;
    padding: 10px;
}

h1, li, ul{
    display: inline;
}

ul {
    float: right;
}

li {
    font-size: 1.5em;
    padding-right: 10px;
}


.container {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 70vw;
    margin: 2em 0;
    background-color: red;
    color: white;
    
}

.container div{  
    height: 30px;
    width: 30px;
     background-color: blue; 
} 